*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: #2C3E4F;
}
.img-portfolio img{
    width: 100%;
    object-fit: cover;
}
.star:before, .star:after{
    background-color: white;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 15%;
}
.start-black:before, .start-black:after{
    background-color: black;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 15%;
}
