*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #navbar{
    background-color: #2C3E4F;
} */
.my-bg-green{
    background-color: #19BC9B;
}
.my-bg-grey{
    background-color: #3B536D;
}
.my-bg-dark-grey{
    background-color: #2C3E4F;
}
.color-text-green{
    color: #19BC9B;
}
.img-portfolio img{
    width: 100%;
    object-fit: cover;
}
.img-portfolio{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.img-portfolio:hover::after{
    content: "+";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #19bc9b5c;
    color: white;
    font-size: 5em;
    font-weight: bold;
}
.star:before, .star:after{
    background-color: white;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 15%;
}
.star-black:before, .star-black:after{
    background-color: #2C3E4F;
    content: "";
    display: inline-block;
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 15%;
}
.my-botton-light{
    border: 1px solid white;
}
.no-decoration{
    text-decoration: none;
    color: #19BC9B;
}
.my-border-bottom{
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

